*.DS_Store
*.sw[po]
*.py[co]
*.out

*.bmp
*.exe
*.pdf

# visual studio code configurations
launch.json
tasks.json


# LaTeX junk
*.aux
*.log
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.toc
*.bbl
*.blg
*.bib

# clion project

.idea/
CMakeLists.txt
cmake-build-debug/

