*.DS_Store
*.sw[po]
*.py[co]
*.out

*.exe

# LaTeX junk
*.aux
*.log
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.toc
*.bbl
*.blg
*.bib

# clion project
.idea/
CMakeLists.txt
cmake-build-debug/

#tags created by program
tags
